extends ../layout

block content
	div(ng-controller='WalletsAddMovement')
		h1 Add Movement

		div(class='container-fluid')
			div(class='row')
				div(class='col-md-10')
					form
						div(class='form-group')
							label(for='movdate') Date
							input(
								type='date'
								id='movdate'
								name='date'
								ng-model='date'
							)
						button(
							class='btn btn-default'
							type='button'
							ng-click='add()'
							value='Add'
						) Add